body {
    background-color: black;
}

h1 {
    font-family: "Arial", Helvetica, sans-serif;
    text-align: center;
    padding-top: 10vh;

}

p {
    font-size: 20px;
    font-weight: normal;
    margin: 0;
}

#sub {
    font-size: 30px;
    font-weight: bold;
}

#main {
    position: relative;
    padding: 100px;
}

.container {
    background-color: white;
    width: auto;
    height: auto;
}

.img-fluid {
    height: 50px;
    width: 50px;
}

.flexible {
    font-family: cursive;
    color: rgb(63, 195, 247);
}

.row {
    padding-top: 30px;

}

.col-sm-3 {
    text-align: center;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.col-sm-12 {
    text-align: right;
    padding-right: 15px;
    padding-bottom: 15px;
}